<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jOKE</title>
    
    <link rel="stylesheet" href="/css/styleChistes.css">
    <link rel="shortcut icon" href="vi.jpg">
</head>
<body> 
    <div class="cont1">           
            <p><a class="option" href="/chistes"> Joke</a></p>
            <p><a class="option" href="/A.V"> A.V</a></p>
            <p><a class="option" href="profile"> User</a></p>
            <p><a class="option" href="/logout"> Exit</a></p> 
    </div>
    
        <div class="container3">
            <span style="--l: 'i';">i</span>               
            <span style="--l: 'J';">J</span>
            <span style="--l: 'O';">O</span>
            <span style="--l: 'K';">K</span>
            <span style="--l: 'E';">E</span>
        </div>
        
        <div class="container1">
        <form id="form" class="container2">
            <input class="in"  type="text" name="password1" placeholder="One" >
            <input class="in"  type="text" name="password2" placeholder="Two" >
            <input class="in" type="reset">
            <button class="in" name="button" id="botton"  class="sumit" data-action="add" >Save</button>
        </form>
    </div>
    
    <div class="form" id="user"></div>
    <script src="/scripts/scrip.js"></script> 
</body>
</html>