<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <%- include ('partials/head') %>
</head>
<body class="index">
    
    <div class="box1">
               <h1><span class="">Login or Register </span></h1>
               <div class="container1">
                <img src="vi.jpg" width="150px" height="150px">
                <a href="/login" class="sumit1">    <!-- esto es para llegar al login -->
                <span class=""></span> LOCAL LOGIN
                </a>
                <a href="/signup" class="sumit1">
                <span class=""></span> LOCAL SIGNUP
                </a>
                <p class="index-cruck">ElCruck</p>
               </div>
               
                
           
        

    </div>
</body>
</html>