<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>MeMoriess</title>
    
    <link rel="stylesheet" type="text/css"  href="/css/style2.css">    
    <link rel="shortcut icon" href="vi.jpg">
    
</head>
<body>
    <div class="container">
        <span style="--l: 'C';">C</span>
        <img src="vi.jpg" alt="" width="100px" >        
        <span style="--l: 'N';">N</span>
        <span style="--l: 'T';">T</span>
        <span style="--l: 'R';">R</span>
        <img src="vi.jpg" alt="" width="100px" >  
        <span style="--l: 'T';">L</span>

        <div class="main">   
            <ul class="ull" onmouseout="ocultar()" onmouseover="ver()">
                <img class="img"  src="vi.jpg" alt="">
                <a href="" class="title">OPTIONS</a>
                <li>
                    <div class="option" id="subseccion1">
                    <p><a class="conteinera" href="chistes">Joke</a></p>
                    <p><a class="conteinera" href="A.V"> A.V</a></p>
                    <p><a class="conteinera" href="profile">User</a></p>
                    <p><a class="conteinera" href="logout"> Exit</a></p> 
                    </div>
                </li>
            </ul>
        
        
        </div>
    </div>
    <script src="/scripts/scrip.js"></script>    
</body>

</html>
